body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
}

/*Header*/

#navbar-head {
  background: #333;
  padding: 20px;
}

#navbarContent li {
  background: rgba(51, 51, 51, 0.6);
}

#navbarContent a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

#navbarContent {
  padding-bottom: 20px;
}

.navbar-brand h1 {
  color: #fff;
}

.toggle-button {
  border: 0 none;
  outline: 0;
}

.toggle-button svg {
  width: 30px;
  height: 30px;
  color: #fff;
}

#navbarContent a {
  color: #000;
  font-weight: bold;
}

#navbarContent navbar-collapse {
  margin-top: rem;
}

.navbar-nav {
  background: #fff;
}

/*End Header*/

/*Main Content*/
.menu-tile {
  height: 1000px;
  border: 2px solid #000;
  background-color: rgba(51, 51, 51, 0.6);
  margin-bottom: 2.7rem;
}

#main-content-row {
  margin-left: auto;
  margin-right: auto;
}
/*End Main Content*/

/*Media Queries*/
@media (max-width: 467px) {
  #main-content-row {
    margin-left: 20px;
    margin-right: 20px;
  }

  div.menu-tile {
    margin: 0 auto 20px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  #main-content-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
